{% set ssmtp = salt['grains.filter_by']({
    'FreeBSD': {
        'server': 'ssmtp',
        'ssmtp_path': '/usr/local/sbin/ssmtp',
        'true_path': '/usr/bin/true',
        'ssmtp_conf': '/usr/local/etc/ssmtp/ssmtp.conf',
        'mailer_conf': '/etc/mail/mailer.conf',
    },
}, merge=salt['pillar.get']('ssmtp:lookup')) %}

