{% set server = salt['pillar.get']('ssmtp', {}) -%}
root={{ nrpe.get('root', 'yourrealemail@example.com') }}
mailhub={{ nrpe.get('mailhub','mail.example.com') }}
rewriteDomain={{ nrpe.get('rewriteDomain','example.com') }}
hostname={{ nrpe.get('hostname','_HOSTNAME_') }}

