{% set ssmtp = salt['pillar.get']('ssmtp', {}) -%}
root={{ ssmtp.get('root', 'yourrealemail@example.com') }}
mailhub={{ ssmtp.get('mailhub','mail.example.com') }}
rewriteDomain={{ ssmtp.get('rewriteDomain','example.com') }}
hostname={{ ssmtp.get('hostname', salt.network.get_hostname() ) }}

